<div class="row">
  <div class="col-10 mx-auto text-center">
    <h1 class="display-1" [innerHTML]="data.title"></h1>
    <h1 class="h1" [innerHTML]="data.subTitle"></h1>
  </div>
</div>

<div class="wrapper">
  <div class="container-fluid">
    <div class="loader"></div>
    <div id="camara" class="box-scan"></div>
    <canvas id="canvasPhoto" width="1920" height="1080" hidden></canvas>

    <div class="row">
      <div class="col-xl-3 col-6 mx-auto my-xl-2 my-5" style="z-index: 999;">
        <button class="btn-primary fs-2 w-100"  [ngClass]="{'pe-none': snapshot}" (click)="triggerSnapshot()">
          <i class="fas fa-camera"></i> {{ data.glosaCamera }}
        </button>
      </div>

      <div class="col-12"></div>

      <div class="col-xl-5 col-9 mx-auto mt-5" style="z-index: 999;" *ngIf="snapshot">
        <div class="row list-scan pt-2">
          <div class="col-2 mx-auto">
            <i [class]="data.iconClass"></i>
          </div>
          <div class="col-5 mx-auto">
            <h2>{{ data.glosaDocuments }}</h2>
          </div>
          <div class="col-2">
            <i class="fa-solid fa-trash-can" (click)="remove($event)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>